#bg1 {
    background-image: url(fruit_stand_image.jpg);
    background-size: cover;
    overflow: hidden; 
}
#bg2 {
  background-image: url(2110.w023.n001.1301B.p1.1301.jpg);
  background-size: cover;
  overflow: hidden;
}
.box1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  
}
.inbox {
  width: 39%;
  height: 92.5%;
  position: relative;
  background-image: url(cartoon_scroll.png);
  background-size: fill;
  animation-name: fade; 
  animation-duration: 6s;
  font-size: 70px;
  display: flex;
  flex-direction: column;

 
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sensei {
  width: 35%;
  height: 27%;
  position: absolute; 
  top: 54%;
  right: 0%;
}
#time {
  position: absolute;
  left: 50%;
  font-family: 'Changa', sans-serif;
  font-size: 30px;
}
#wrd {
  opacity: 0;
  width: 100%;
  height: 100%;
  animation-name: fade;
  animation-delay: 8s;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Cinzel', serif;
  position: relative;
  left: 17%;

}
.playbut {
  position: absolute;
  top: 61%;
  left: 58%;
  width: 25%;
  height: 25%;
  opacity: 0;
  animation-name: fade;
  animation-delay: 11s;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
p {
  margin: 3; 
}